function o() {
	if [ $# -eq 0 ]; then
		open .
	else
		open "$@"
	fi
}

function phpv() {
	valet stop
	sudo brew services stop php@7.4
	sudo brew services stop php@8.1
	sudo brew services stop php
	brew unlink php@7.4 php@8.1 php
	brew link --force --overwrite $1
	valet install
}

alias php74="phpv php@7.4"
alias php81="phpv php@8.1"
alias php82="phpv php"
alias ubuntu='docker run -it --rm -h ubuntu -w $PWD -v $PWD:$PWD ubuntu bash'
alias alpine='docker run -it --rm -h alpine -w $PWD -v $PWD:$PWD alpine sh'
alias local_dev_start="brew services start mariadb; ~/.composer/vendor/bin/valet start"
alias local_dev_stop="brew services stop mariadb; ~/.composer/vendor/bin/valet stop"

alias miniserver="python3 -m http.server 8080"
