function o() {
	if [ $# -eq 0 ]; then
		open .
	else
		open "$@"
	fi
}

function phpv() {
	valet stop
	brew services stop php@7.2
	brew services stop php@7.3
	brew services stop php@7.4
	brew unlink php php@7.2 php@7.3 php@7.4
	brew link --force --overwrite $1
	brew services start $1
	valet install
}

alias php72="phpv php@7.2"
alias php73="phpv php@7.3"
alias php74="phpv php@7.4"
